// PIE DE PAGINA
footer.footer
  .container.d-sm-flex.flex-wrap
    // Logo Camersur
    .footer__logo
      a(href='#')
        img(src='images/logo-camersur-footer.png', alt='Camersur Logo')
      p
        | Primera Cámara de Comercio Online destinada a Latinoamérica, pioneros en la integración de empresarios de distintos sectores de la economía en un solo sitio a pocos clics de distancia.
    // Seccion acerca de nosotros
    .footer__acerca
      h4.footer__titulo Acerca de Camersur
      ul.footer__menu
        li.footer__menu__item
          a.footer__menu__link(href='#') Nosotros
        li.footer__menu__item
          a.footer__menu__link(href='#') Planes
        li.footer__menu__item
          a.footer__menu__link(href='#') Aviso legal
        li.footer__menu__item
          a.footer__menu__link(href='#') Términos de uso
        li.footer__menu__item
          a.footer__menu__link(href='#') Políticas de cookies
    // Seccion de categorias
    .footer__categorias
      h4.footer__titulo Áreas de interés
      ul.footer__menu
        li.footer__menu__item
          a.footer__menu__link(href='#') Noticias
        li.footer__menu__item
          a.footer__menu__link(href='#') Universidad
        li.footer__menu__item
          a.footer__menu__link(href='#') Eventos
    // Seccion de contacto
    .footer__contacto
      h4.footer__titulo Contacto
      p.contacto__email info@camersur.com
      p.contacto__telefono Telf: 954-687-0025
      p.contacto__direccion
        | 2863 Executive Park Dr. Suite 102 Weston
        br
        | FL 33326
    // Seccion de copyright
    .footer__copyright
      p.text-center Copyright © CAMERSUR, 2016-2017. Todos los derechos reservados
      
script(src='js/jquery.min.js')
script(src="js/popper.js")
script(src='js/bootstrap.js')
block scripts
