header.header
  section.header__top
    .container.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
      // Logo de la empresa
      .header__logo
        a(href="index.html")
          img(src='images/Logo-CAMERSUR.svg', width='312', alt='Camersur Logo')
      
      // Idioma | Registro | Login | Usuario registrado
      .header__acciones.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
        // Desplegable de idiomas
        // Select de idiomas
        .header__idiomas.dropdown.d-flex.align-items-center
          button.btn.btn-secondary.dropdown-toggle.d-flex.align-items-center(type="button", id="dropdownLanguage", data-toggle="dropdown", aria-haspopup="true")
            img.mr-2(src="images/bandera-espana.png", alt="Español")
            span es

          // Listado de idiomas
          .dropdown-menu(aria-labelledby="dropdownLanguage")
            a.dropdown-item.d-flex.align-items-center(href="#")
              img.mr-1(src="images/bandera-espana.png", alt="") 
              span Inglés

        // ESTA OPCION DEBE OCULTARSE CUANDO SE INICIA SESIÓN
        // Boton de registro        
        //-.header__registrarse
          a(href='registro.html') REGISTRARSE

        // ESTA OPCION DEBE OCULTARSE CUANDO SE INICIA SESIÓN
        // Boton inicio de sesion
        //-.header__login.d-flex.align-items-center
          a(href='ingreso.html') Iniciar Sesión
          img(src='images/icono-usuario.png', alt='iniciar sesión')          

        // ESTA OPCION SOLO DEBE MOSTRARSE CUANDO SE ESTA LOGUEADO
        .header__perfil
          .dropdown.show
            a(href="#").enlace-perfil.dropdown-toggle(data-toggle="dropdown", id="dropdownProfile", aria-expanded="false", aria-haspopup="true")
              i.fa.fa-user-circle-o
              span Maria Alzolar            
          
            // Opciones del usuario logueado
            div(class="dropdown-menu", aria-labelledby="dropdownProfile")
              a.nav-item.dropdown-item(href="#") Directorio      
              a.nav-item.dropdown-item(href="#") Ruedas de Negocios      
              a.nav-item.dropdown-item(href="#") Biblioteca virtual      
              a.nav-item.dropdown-item(href="#") Admin      
              a.nav-item.dropdown-item(href="#") Salir

  // Iconos redes sociales
  section.header__sociales
    .container.d-flex.justify-content-center.justify-content-md-end
      a(href="#", target="_blank")
        img(src="images/icono-facebook.png", alt="Icono de Facebook")
      a(href="#", target="_blank")
        img(src="images/icono-instagram.png", alt="Icono de Instagram")
      a(href="#", target="_blank")
        img(src="images/icono-twitter.png", alt="Icono de Twitter")
      a(href="#", target="_blank")
        img(src="images/icono-linkedin.png", alt="Icono de LinkedIn")
      a(href="#", target="_blank")
        img(src="images/icono-rss.png", alt="Icono de canal RSS")

  // Menu de navegacion
  section.header__menu
    .container.d-flex.justify-content-between.align-items-center.pb-3.flex-wrap
      include _navbar
      