header.header
  section.header__top
    .container.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
      .header__logo
        a(href="index.html")
          img(src='images/Logo-CAMERSUR.svg', width='312', alt='Camersur Logo')
      .header__acciones.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
        // Desplegable de idiomas
        .header__idiomas.dropdown.d-flex.align-items-center
          img(src='images/bandera-espana.png', alt='Español')
          span es
        // Boton de registro
        .header__registrarse
          a(href='registro.html') REGISTRARSE
        // Boton inicio de sesion
        .header__login.d-flex.align-items-center
          a(href='ingreso.html') Iniciar Sesión
          img(src='images/icono-usuario.png', alt='iniciar sesión')

  // Menu de navegacion
  section.header__menu
    .container.d-sm-flex.justify-content-between.align-items-center.my-3.pb-3.flex-wrap
      nav
        ul.menu
          li.menu__item.nav-item
            a.nav-link(href='nosotros.html') Nosotros
          li.menu__item.nav-item
            a.nav-link(href='planes.html') Planes
          li.menu__item.nav-item
            a.nav-link(href='#') Noticias
          li.menu__item.nav-item
            a.nav-link(href='#') Universidad
          li.menu__item.nav-item
            a.nav-link(href='#') Eventos
      // Boton de busqueda
      form.header__menu__frm-busqueda(action='#')
        .inputAddOn
          input#buscar.inputAddOn-field(type='text', name='buscar', placeholder='BÚSQUEDA')
          button.inputAddOn-item
            i.fa.fa-search