button.boton-menu.d-lg-none(type='button', data-toggle='collapse', data-target='#menu-principal', aria-expanded='false')
  i.fa.fa-bars(aria-hidden='true')

form.header__menu__frm-busqueda
  .inputAddOn
    input#buscar.inputAddOn-field(type='text', name='buscar', placeholder='BÚSQUEDA')
    button.inputAddOn-item
      i.fa.fa-search

nav.collapse.header__menu#menu-principal
  ul.menu
    li.menu-item.nav-item.active
      a.nav-link(href="nosotros.html") Nosotros    
    li.menu-item.nav-item
      a.nav-link(href="planes.html") Planes
    li.menu-item.nav-item
      a.nav-link(href="#") Noticias
    li.menu-item.nav-item
      a.nav-link(href="#") Universidad
    li.menu-item.nav-item
      a.nav-link(href="#") Eventos        
          