button.boton-menu.d-lg-none.order-2(type='button', data-toggle='collapse', data-target='#menu-principal', aria-expanded='false')
  i.fa.fa-bars(aria-hidden='true')

// Iconos redes sociales
section.header__sociales.order-1
  .container.d-flex.justify-content-center.justify-content-md-end
    a(href="#", target="_blank")
      img(src="images/icono-facebook.png", alt="Icono de Facebook")
    a(href="#", target="_blank")
      img(src="images/icono-instagram.png", alt="Icono de Instagram")
    a(href="#", target="_blank")
      img(src="images/icono-twitter.png", alt="Icono de Twitter")
    a(href="#", target="_blank")
      img(src="images/icono-linkedin.png", alt="Icono de LinkedIn")

nav.collapse.header__menu#menu-principal.order-3
  ul.menu
    li.menu-item.nav-item.active
      a.nav-link(href="nosotros.html") Nosotros    
    li.menu-item.nav-item
      a.nav-link(href="planes.html") Planes
    li.menu-item.nav-item
      a.nav-link(href="#") Noticias
    li.menu-item.nav-item
      a.nav-link(href="#") Universidad
    li.menu-item.nav-item
      a.nav-link(href="#") Eventos        
          