section.acerca.mb-5
  .container.py-4
    h1.cms-titulo.cms-titulo--aprende APRENDE ACERCA DE CAMERSUR
    h2.cms-subtitulo Descarga nuestros manuales y tutoriales
    .acerca__opciones      
      a.acerca__boton(href='#')
        i.fa.fa-video-camera
        |Video Instruccional      
      a.acerca__boton(href='#')
        i.fa.fa-cloud-download
        |Camersur      
      a.acerca__boton(href='#')
        i.fa.fa-cloud-download
        |Afiliación      
      a.acerca__boton(href='#')
        i.fa.fa-cloud-download
        |Rueda de negocios
    .acerca__video.my-5
      .acerca__video__item
        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/ObW8IHRQOq4', frameborder='0', allowfullscreen='')

      .acerca__video__item
        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/BxogCjYclrA', frameborder='0', allowfullscreen='')

      .acerca__video__item
        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/KBW-pquC0vs', frameborder='0', allowfullscreen='')

      
      //-video(controls='', width='100%', height='auto') Your browser does not support the video tag.
