section.afiliados
  .container
    .row.d-flex.flex-column.flex-md-row.justify-content-between.align-items-end.text-center
      .col-md-4
        img(src='images/Logo-Esmitecp.jpg', alt='Logo Esmitecp')
      .col-md-4
        img(src='images/Logo-GlobalTDG.jpg', alt='Logo GlobalTDG')
      .col-md-4
        img(src='images/Logo-GPI.jpg', alt='Logo GPI')
