section.afiliados.pb-5
  .container

    .owl-carousel
      a(href='#')
        img(src='images/Logo-Esmitecp.jpg', alt='Logo Esmitecp', class="owl-img")
      a(href='#')
        img(src='images/Logo-GlobalTDG.jpg', alt='Logo GlobalTDG', class="owl-img")
      a(href='#')
        img(src='images/Logo-GPI.jpg', alt='Logo GPI', class="owl-img")
