// Banner publicitario de afiliacion
section.header__afiliacion.header__afiliacion--personaje1.pt-5
	.container.d-flex.justify-content-between.align-items-end.h-100
		img.header__afiliacion__img.img-fluid(src='./images/imagen-empresario-slider.png', alt='')
		// Textos de afiliacion
		.header__afiliacion__textos
			h2.header__afiliacion__titulo
				| Camara de comercio 
				span en línea
			h2.header__afiliacion__slogan
				| A pocos pasos
			p.header__afiliacion__descripcion
				| Crea relaciones empresariales bajo la tutela de CAMERSUR
			// Botones de afiliacion
			.header__afiliacion__botones
				a.header__afiliacion__btn.header__afiliacion__btn--afiliate(href='#') Afiliate
				a.header__afiliacion__btn.header__afiliacion__btn--planes(href='#') Ver planes        
