section.busqueda
  .container.d-flex.justify-content-center.py-3    
    form(action="#", class="form-inline")
      .form-group.mb-3.mb-md-0
        input(type="text", name="search", id="search", placeholder="Búsqueda", class="form-control")
      label.cerca(for="cerca-de") cerca de
      .form-group.my-3.my-md-0
        input(type="text", name="location", id="location", placeholder="Ciudad, Estado o País", class="form-control")      
        
      button(type="submit", class="busqueda__btn")
        i.fa.fa-search

