// Banner publicitario
section.banner
  .container.text-center
    a(href="anunciate.html", target="_blank", title="Anunciate") 
      img(src='images/Banner5.png', alt='Banner TDG')
section.proveedores.my-5
  .container
    .row
      .col-sm-6.col-md-8.col-lg-9
        article.proveedores__conecta.px-lg-5.mb-5.text-center
          h1
            |conecta más rápido con
            br
            |proveedores y clientes
          p.my-4
            | nuestro equipo de profesionales estará al tanto de tus dudas en todas las áreas y etapas del negocio que realices en camersur.
            br
            |mediaremos en caso de ser necesario
          .cms-boton.cms-boton--boton3.promocionales__boton
            a(href='#') inicia sesión
        article.proveedores__conecta.px-lg-5.my-5.text-center
          h1 probado y recomendado
          p.my-4
            |desde hace más de tres años contamos con reconocidas empresas internacionales que usan camersur para realizar operaciones comerciales exitosas
          .cms-boton.cms-boton--boton1.promocionales__boton
            a(href='#') regístrate
      .col-sm-6.col-md-4.col-lg-3.proveedores__anunciantes
        a(href="anunciate.html", target="_blank", title="anunciate") 
          img(src='images/Banner1.png', alt='Banner 1')
        a(href="anunciate.html", target="_blank", title="anunciate") 
          img(src='images/Banner2.png', alt='Banner 2')
        a(href="anunciate.html", target="_blank", title="anunciate") 
          img(src='images/Banner3.png', alt='Banner 3')
