section.empresas
  .container.py-4
    h1.cms-titulo.cms-titulo--empresas DESCUBRE LAS EMPRESAS CON LAS QUE PODRÁS CONECTAR
    p.empresas__descripcion
      | Más de 1500 organizaciones y empresas forman parte de camersur, elige una categoría y empieza ya
    .empresas__grid.d-flex.justify-content-center.justify-content-sm-between.flex-wrap
      article.empresas__item
        img(src='images/agroindustrias.svg', alt='')
        a(href='#') agroindustrias
      article.empresas__item
        img(src='images/automotriz.svg', alt='')
        a(href='#') automotriz
      article.empresas__item
        img(src='images/calzados.svg', alt='')
        a(href='#') calzado
      article.empresas__item
        img(src='images/comercio.svg', alt='')
        a(href='#') comercio
      article.empresas__item
        img(src='images/farmaceutico.svg', alt='')
        a(href='#') farmaceutico
      article.empresas__item
        img(src='images/plasticos.svg', alt='')
        a(href='#') plasticos
      article.empresas__item
        img(src='images/quimicos.svg', alt='')
        a(href='#') químicos
      article.empresas__item
        img(src='images/tecnologia.svg', alt='')
        a(href='#') tecnología
      article.empresas__item
        img(src='images/textiles.svg', alt='')
        a(href='#') textiles
      article.empresas__item
        i.fa.fa-plus
        span 1597 empresas
