section.empresas
  .container.py-4
    h1.cms-titulo.cms-titulo--empresas DESCUBRE LAS EMPRESAS CON LAS QUE PODRÁS CONECTAR
    p.empresas__descripcion
      | Más de 1500 organizaciones y empresas forman parte de camersur, elige una categoría y empieza ya
    .empresas__grid.d-flex.justify-content-center.justify-content-sm-between.flex-wrap
      article.empresas__item
        img(src='images/agroindustrias.svg', alt='')
        a(href='#') agroindustrias
      article.empresas__item
        img(src='images/bienesraices.svg', alt='')
        a(href='#') bienes raices
      article.empresas__item
        img(src='images/construccion.svg', alt='')
        a(href='#') construcción
      article.empresas__item
        img(src='images/electronica.svg', alt='')
        a(href='#') electrónica
      article.empresas__item
        img(src='images/petroleo-2.svg', alt='')
        a(href='#') petroleo
      article.empresas__item
        img(src='images/quimicos.svg', alt='')
        a(href='#') químicos
      article.empresas__item
        img(src='images/telecomunicaciones.svg', alt='')
        a(href='#') telecomunicaciones
      article.empresas__item
        img(src='images/transporte.svg', alt='')
        a(href='#') transporte
      article.empresas__item
        img(src='images/turismo.svg', alt='')
        a(href='#') turismo
      article.empresas__item
        i.fa.fa-plus
        span 1597 empresas
