// Seccion mis empresas de camersur
section.camersur.mt-5
  .container.d-md-flex.justify-content-center
    article.camersur__item
      img.camersur__logo(src='images/Logo-CAMERSUR-News.svg', alt='Logo Camersur News')
      p.camersur__descripcion
        | Lorem ipsum dolor sit amet.
      .camersur__boton.camersur__boton--news
        a(href='#') INFÓRMATE
    article.camersur__item
      img.camersur__logo(src='images/Logo-Universidad-CAMERSUR.svg', alt='Logo Camersur Universidad')
      p.camersur__descripcion
        | Lorem ipsum dolor sit amet.
      .camersur__boton.camersur__boton--universidad
        a(href='#') FÓRMATE
    article.camersur__item
      img.camersur__logo(src='images/Logo-Eventos-CAMERSUR.svg', alt='Logo Camersur Eventos')
      p.camersur__descripcion
        | Lorem ipsum dolor sit amet.
      .camersur__boton.camersur__boton--eventos
        a(href='#') ANÚNCIATE
