section(class="oportunidades mt-5")
  h1(class="oportunidades__titulo") OPORTUNIDADES DE NEGOCIO
  div(class="container py-5")
    div(class="cards owl-carousel")
      a(href="#", title="title") 		
        img(src="http://lorempixel.com/300/150/business/1", alt="", class="oportunidades__img img-fluid owl-img")
        h4(href="#", class="oportunidades__descripcion")
          |Lorem ipsum dolor sit amet, consectetur adipisicing.
          |Lorem ipsum dolor sit amet.
          |Lorem ipsum dolor sit amet.
      a(href="#", title="title") 		
        img(src="http://lorempixel.com/300/150/business/2", alt="", class="oportunidades__img img-fluid owl-img")
        h4(href="#", class="oportunidades__descripcion")
          |Lorem ipsum dolor sit amet, consectetur adipisicing.
      a(href="#", title="title") 		
        img(src="http://lorempixel.com/300/150/business/3", alt="", class="oportunidades__img img-fluid owl-img")
        h4(href="#", class="oportunidades__descripcion")
          |Lorem ipsum dolor sit amet, consectetur adipisicing.
      a(href="#", title="title") 		
        img(src="http://lorempixel.com/300/150/business/4", alt="", class="oportunidades__img img-fluid owl-img")
        h4(href="#", class="oportunidades__descripcion")
          |Lorem ipsum dolor sit amet, consectetur adipisicing.
      
