// Banner publicitario
section.banner
  .container.text-center
    img(src='images/BannerTDG.png', alt='Banner TDG')
section.promocionales
  .container
    .row
      .col-sm-6.col-md-8.col-lg-9
        .promocionales__videos
          .promocionales__video
            video(controls='', width='100%', height='auto') Your browser does not support the video tag.
          //-p.promocionales__descripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad
            | aperiam architecto assumenda, eum inventore ipsam iste natus nemo optio tempore tenetur velit, veniam
            | voluptates.
          .promocionales__video
            iframe(width='100%', height='auto', src='https://www.youtube.com/embed/ObW8IHRQOq4', frameborder='0', allowfullscreen='')

          .promocionales__video
            iframe(width='100%', height='auto', src='https://www.youtube.com/embed/BxogCjYclrA', frameborder='0', allowfullscreen='')

          .promocionales__video
            iframe(width='100%', height='auto', src='https://www.youtube.com/embed/KBW-pquC0vs', frameborder='0', allowfullscreen='')
        .cms-boton.cms-boton--boton1.promocionales__boton
          a(href='#') VER PLANES
      .col-sm-6.col-md-4.col-lg-3.py-3
        img.img-fluid(src='images/esmitecp.png', alt='ESMITECP')
