#cookiesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cookiesModalLabel', aria-hidden='true', style="color: #333; line-height: 1.5; text-align: left; font-family: $montserrat-font; font-size: 1rem;")
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#cookiesModalLabel.modal-title Políticas de Cookies
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        div.text-center.mb-3
          i.fa.fa-info-circle.fa-5x.text-primary
        p.mb-3
          |Nuestro sitio web 
          a(href="http://www.camersur.com") www.camersur.com 
          |utiliza una tecnología denominada “cookies”, con la finalidad de poder recabar información acerca del uso del sitio web. Asimismo, Camersur envía cookies desde el dominio 
          a(href="http://www.camersurnews.com", target="_blank") www.camersurnews.com.
        p.mb-3.
          Le informamos que vamos a utilizar cookies con la finalidad de facilitar su navegación a través del sitio Web, distinguirle de otros usuarios, proporcionarle una mejor experiencia en el uso del mismo, e identificar problemas para mejorar nuestro Sitio Web. Utilizaremos cookies que nos permitan obtener más información acerca de sus preferencias y personalizar nuestro sitio Web de conformidad con sus intereses individuales, así como mostrarle, en sucesivas visitas a éste u otros sitios web, publicidad relativa a productos y/o servicios.
        p.
          La presente Política de Cookies tiene por finalidad informarle de manera clara y precisa sobre las cookies que se utilizan en el sitio Web. 
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar        
