.cms-boton {
  display: inline-block;
  font-family: $montserrat-font;
  font-size: em(14);
  font-weight: 600;
  margin: 1em auto;
  margin-top: auto;
  padding: 1em 3em;
  text-transform: uppercase;
  a {
    color: #fff;
    position: relative;
    transition: all 0.5s ease;
    &:before {
      content: '';
      border-left: 6px solid #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      left: 105%;
      margin-top: 0.2em;
    }
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  &--boton1 {
    background: $amarillo-universidad;
    transition: all 0.5s ease;
    &:hover {
      background: lighten($amarillo-universidad, 10%);
      cursor: pointer;
    }
  }
  &--boton2 {
    background: $azul-camersur;
    transition: all 0.5s ease;
    &:hover {
      background: lighten($azul-camersur, 5%);
      cursor: pointer;
    }
  }
  &--boton3 {
    background: $verde-eventos;
    margin-top: auto;
    transition: all 0.5s ease;
    &:hover {
      background: lighten($verde-eventos, 5%);
      cursor: pointer;
    }
  }
}

.boton {
	display: block;
	font-family: $montserrat-font;
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem;
	padding: 0.75rem 2rem;
	text-align: center;
	text-transform: uppercase;
	@include media(sm) {
		display: inline-block;
		//width: 50%;
	}

	&--blanco {
		background-color: #fff;
		border: 1px solid #fff;
		color: #003353;
		transition: all 0.5s ease;
		&:hover {
			background-color: transparent;
			color: #fff;          
			text-decoration: none;
		}
	}

	&--transparente {
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		transition: all 0.5s ease;
		&:hover {
			background-color: #fff;
			color: $azul-camersur;
			text-decoration: none;
		}
	}	
}
