.cms-titulo {
  color: $texto-titulo;
  font-family: $josefin-font;
  font-size: em(22);
  font-weight: 600;
  margin: 0.5em auto;
  text-transform: uppercase;
  &--aprende, &--empresas, &--actualidad, &--aliados, &--detalle {
    border-bottom: 1px solid $azul-camersur;
    font-size: em(18);
    padding: 0.75em 0.5em 0.25em 0.5em;
    @include media(sm) {
      font-size: em(22);
    }
    @include media(md) {
      font-size: em(36);
    }
  }
  &--aprende {
    border-left: 0.3em solid $amarillo-universidad;
    color: #fff;
	}
  &--empresas {
    border-left: 0.3em solid $verde-eventos;
    color: $azul-camersur;
  }
  &--actualidad {
    border-left: 0.3em solid $azul-camersur;
    color: $texto-titulo;
  }
  &--aliados {
    border-left: 0.3em solid $amarillo-universidad;
    color: $texto-titulo;
  }
  &--detalle {
    border-left: 0.3em solid $verde-eventos;
    color: $texto-titulo;
  }
}
.linea {
	border-bottom: 1px solid $linea-eventos;
}
.cms-subtitulo {
  color: $texto-subtitulo;
  font-family: $montserrat-font;
  font-size: em(18);
  font-weight: 600;
  margin: 0.5em auto;
  text-transform: uppercase;
}

// Banner publicitario
.cmsuniversidad-publicidad {
  margin: 1em auto;
  img {
    @include img-responsive;
  }
}

// Cards Universidad
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin-bottom: 1em;
    position: relative;
    @include media(md) {
      flex: 0 1 calc(50% - 1em);
    }
  }
  &__img {
    @include img-responsive;
    object-fit: cover;
  }
  &__detalle {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: -2em;
    padding: 1em;
  }
  &__titulo {
    color: $texto-titulo;
    font-family: "Josefin Sans", sans-serif;
    font-size: em(18);
    font-weight: 600;
    margin: 1em auto;
  }
  &__descripcion {
    font-family: $montserrat-font;
    font-size: em(16);
    font-weight: 300;
    line-height: 1.5;
    margin: 1em auto;
  }
  &__txt-complementario {
    color: $azul-camersur;
    font-family: $montserrat-font;
    font-size: em(12);
    font-weight: 600;
    text-transform: uppercase;
  }
}
