.conocenos
	.container.d-flex.flex-column.align-items-center.py-5
		h1.conocenos__titulo CÁMARA DE COMERCIO EN LÍNEA
		h2.conocenos__subtitulo.my-3 A POCOS PASOS
		P.conocenos__descripcion.my-3
			|La primera cámara de comercio online
			br
			|destinada a exaltar las potencialidades de latinoamérica

		h1.conocenos__titulo.conocenos__titulo--conocenos ¡CONÓCENOS Y FORMA PARTE DE CAMERSUR!

		video(controls='') Your browser does not support the video tag.

		.conocenos__botones.text-center.p-5
			a.boton.boton--blanco(href='#') Registrarme ahora
			a.boton.boton--transparente(href='#') Ver servicios