.probado.py-5
	.container.d-flex.flex-column.align-items-center
		h1.probado__titulo.mb-3 PROBADO Y RECOMENDADO
		p.probado__descripcion.mb-5
			|desde hace más de 3 años contamos con reconocidas empresas internacionales que usan CAMERSUR para realizar operaciones comerciales exitosas
		.cms-boton.cms-boton--boton1.mb-5
			a(href="registrate.html") REGISTRATE
		
		//- Boton volver
		a(href="#").btn-volver Volver
				
		.probado__afiliados
			article
				img(src='images/Logo-Esmitecp.jpg', alt='Logo Esmitecp')
			article
				img(src='images/Logo-GlobalTDG.jpg', alt='Logo GlobalTDG')
			article
				img(src='images/Logo-GPI.jpg', alt='Logo GPI')