<section class="oportunidades mt-5">
<h1 class="oportunidades__titulo">OPORTUNIDADES DE NEGOCIO</h1>
<div class="container d-md-flex justify-content-between">
<article class="oportunidades__item">
<img src="http://lorempixel.com/300/150/business/1" alt="" class="oportunidades__img img-fluid">
<a href="#" class="oportunidades__descripcion">
<Lorem>ipsum dolor sit amet, consectetur adipisicing.</Lorem>
<Lorem>ipsum dolor sit amet.</Lorem>
<Lorem>ipsum dolor sit amet.</Lorem></a>
</article>
<article class="oportunidades__item">
<img src="http://lorempixel.com/300/150/business/2" alt="" class="oportunidades__img img-fluid">
<a href="#" class="oportunidades__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
</article>
<article class="oportunidades__item">
<img src="http://lorempixel.com/300/150/business/3" alt="" class="oportunidades__img img-fluid">
<a href="#" class="oportunidades__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
</article>
<article class="oportunidades__item">
<img src="http://lorempixel.com/300/150/business/4" alt="" class="oportunidades__img img-fluid">
<a href="#" class="oportunidades__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
</article>
</div>
</section>