extends ./partials/layout

block content

  // Banner publicitario
  include partials/home/_banner

  // Mis empresas Camersur
  include partials/home/_mis-empresas

  // Leads de oportunidades
  include partials/home/_oportunidades

  // Acerca de camersur
  include partials/home/_acerca

  // Promocionales
  include partials/home/_promocionales

  // empresas
  include partials/home/_empresas

  // Conecta con proveedores
  include partials/home/_conecta

  // Afiliados
  include partials/home/_afiliados

  // Redes sociales
  //include partials/_redes

  include ./modals/publicidad
  

block scripts
  script(src="js/app.js")


