<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author", content="Jerson Moreno")
    title CAMERSUR
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/font-awesome.min.css")    
    link(rel="stylesheet", href="./css/landing.css")
    //- Web Fonts
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", rel="stylesheet")
  body
    header.header
      .header__ribbon
      .container.text-center
        .header__logo.text-center.pt-5
          img(src="./images/landing/logo-fitce.png", alt="Fitce Logo" class="img-fluid")
        
        h1.text-center.py-3.header__title
          | October  17 – 18, 2017
        a(href="https://www.eventbrite.com/e/fitce-florida-international-trade-cultural-expo-2017-tickets-35816633515").btn.btn-primary.btn-lg.landing-btn REGISTER HERE
        .header__description
          p.text-center
            | Meet Heads of States 
            br
            | Engage high level government leaders, international trade experts and delegations.
            br
            | Participate in dialogues relating to international trade, foreign direct investment and culture.
            br
            | Over 200 international businesses and 400 local businesses.
            br
            | Multi-cultural global trade representatives from over 35 countries.

        .header__logo.text-center.py-5
          img(src="./images/landing/logo-camersur.png", alt="Camersur Logo" class="img-fluid")

        h2.header__subtitle.text-center
          | Camersurnews will broadcast FITCE - Florida International Trade & Cultural Expo 2017
        h2.header__subtitle.text-center
          | Promote your company on various platforms and reach the world through our news updates.
        h2.header__condensed.text-center
          | Exclusive Camersurnews sponsorship packages during this event

    main.wrapper      
      section.packages
        .container.text-center
          button.btn.btn-primary.btn-lg.landing-btn PACKAGE
          h2.packages__title.text-center.text-white
            | OPPORTUNITY TO ANNOUNCE YOUR COMPANY MEDIAKIT
          .row
            .col-lg-10           
              .packages__list
                .card-deck
                  //- Gold Package
                  .card
                    .packages__header.packages__header--gold
                      h4 GOLD
                    .card-body                                        
                      ul.packages__options
                        li
                          | Company will be recognized locally in South Florida and Internationally (LATAM) in the Press Release Pre and Post Event FITCE 2017.
                        li
                          | Company will have recognition in the NEWS LETTERS send prior to and after the event, to all CAMERSUR members, Chamber of Commerce and Business Organizations in US, LATAM & the Caribbean.
                        li
                          | 60 Spots ( 15"- 30" - T. V Format) during the 2 days On line - Life transmission of the FITCE - 2017  Event.
                        li
                          | 2  Interview to be transmitted life during the 2 days of  FITCE - CAMERSUR NEWS  event with the exclusive right to have an Institutional backing of your Co. during the Life Interview.
                        li
                          | Logo and slogan of the Company will be displayed on CAMERSUR NEWS T.V. - On Line.
                        li
                          | 4 INVITATIONS to the Presidents Welcome Recepetion.
                        li
                          | Branding  Digital Ads: 728 x 90. (Scrolling ) Social Media Ads in the FITCE - CAMERSUR NEWS Media Channels of distribution.
                      .mt-auto.packages__price.packages__price--gold
                        span $1,900
                      a.btn.btn-primary.btn-lg.btn-block.text-white.packages__btn.packages__btn--gold
                        | BUY NOW      
                        i.fa.fa-shopping-cart
                  //- Silver Package
                  .card
                    .packages__header.packages__header--silver
                      h4 SILVER
                    .card-body                      
                      ul.packages__options
                        li
                          | Company will be recognized locally in South Florida and Internationally (LATAM) in the Pre Release Pre and Post Event FITCE 2017.
                        li
                          | Company will have recognition in the NEWS LETTERS send prior to and after the event, to all CAMERSUR members, Chamber of Commerce and Business Organizations in US, LATAM & the Caribbean.
                        li
                          | 40 Spots ( 15"- 30" - T. V Format) during the 2 days On line - Life transmission of the FITCE - 2017  Event. 
                        li
                          | 1  Interview to be transmitted life during the 2 days of  FITCE - CAMERSUR NEWS event.
                        li
                          | Logo and slogan of the Company will be displayed on CAMERSUR NEWS T.V. - On Line.
                        li
                          | 3 INVITATIONS to the Presidents Welcome Recepetion.
                        li
                          | Branding  Digital Ads 160 x 600 Social Media Ads in the FITCE - CAMERSUR NEWS Media Channels of distribution.
                      .mt-auto.packages__price.packages__price--silver
                        span $1,400
                      a.btn.btn-primary.btn-lg.btn-block.text-white.packages__btn.packages__btn--silver
                        | BUY NOW      
                        i.fa.fa-shopping-cart
                  //- Bronze Package
                  .card
                    .packages__header.packages__header--bronze
                      h4 BRONZE
                    .card-body                  
                      ul.packages__options
                        li
                          | Company will be recognized locally in South Florida and Internationally (LATAM) in the Pre Release Pre and Post Event FITCE 2017.
                        li
                          | Company will have recognition in the NEWS LETTERS send prior to and after the event, to all CAMERSUR members, Chamber of Commerce and Business Organizations in US, LATAM & the Caribbean.
                        li
                          | 20 Spots ( 15"- 30" - T. V Format) during the 2 days of On line - Life transmission of the FITCE - CAMERSUR NEWS 2017  Event.
                        li
                          | 2 INVITATIONS to the Presidents Welcome Reception.
                        li
                          | Branding  Digital Ads  300 x 250 Social Media Ads in the FITCE - CAMERSUR NEWS Media Channels of distribution.
                      .mt-auto.packages__price.packages__price--bronze
                        span $900
                      a.btn.btn-primary.btn-lg.btn-block.text-white.packages__btn.packages__btn--bronze 
                        | BUY NOW      
                        i.fa.fa-shopping-cart        
              .packages__paypal
                img(src="./images/landing/paypal.png", alt="Paypal", class="img-fluid")
              .banner.pt-4.mt-2
                a(href="#")
                  img(src="./images/landing/land-banner.jpg", alt="", class="img-fluid", style="position: relative;")

            .col-lg-2
              aside.sidebar
                .row
                  .col-md-6.col-lg-12
                    .banner
                      a(href="#")
                        img(src="./images/landing/port-banner.jpg", alt="", class="img-fluid")
                  .col-md-6.col-lg-12
                    .banner
                      a(href="#")
                        img(src="./images/landing/port-banner.jpg", alt="", class="img-fluid")                                    
            
      //- Banners Section
      section.banners.py-3
        .container
          .row
            .col-md-4
              .banner
                a(href="#")
                  img(src="./images/landing/square-banner.jpg", alt="", class="img-fluid")
            .col-md-4
              .banner
                a(href="#")
                  img(src="./images/landing/square-banner.jpg", alt="", class="img-fluid")
            .col-md-4
              .banner
                a(href="#")
                  img(src="./images/landing/square-banner.jpg", alt="", class="img-fluid")

      .live.text-center
        img(src="./images/landing/live.png", alt="live", class="img-fluid")

      //- Info Section
      section.info.py-1.text-white
        .container
          span.info__mail
            i.fa.fa-envelope 
            a(href="mailto:info@camersur.com")
              | info@camersur.com
          span.info__phone
            i.fa.fa-phone
            | +1 954-687-0025 / 954-549551          

    footer.footer.text-white.py-3.text-center
      .container
        h4
          | Camersur will broadcast live on the following social media outlets          
        .footer__socials
          a(href="#", target="_blank")
            i.fa.fa-youtube-play
          a(href="#", target="_blank")
            i.fa.fa-facebook
          a(href="#", target="_blank")
            i.fa.fa-instagram
