extends partials/layout

block content

  section.cmsuniversidad-publicidad.d-none.d-sm-block
    .container.text-center
      a(href="http://www.camersur.com", target="_blank")
        img(src="images/Banner5.png", alt="Banner publicitario", class="img-fluid")

  section.resultados.my-5
    .container
      h1.cms-titulo.cms-titulo--empresas.d-flex.flex-column TÉRMINO BUSCADO
        span.resultados__cantidad 6 RESULTADOS PARA LA BÚSQUEDA DE
      .resultado__listado
        article.resultados__item          
          .resultados__texto
            h2.resultados__titulo
              a(href="#") TÍTULO DEL RESULTADO
            p.resultados__descripcion Breve texto correspondiente al resultado encontrado. Breve texto correspondiente al resultado encontrado. Breve texto correspondiente al resultado encontrado
          .resultados__accion
            a(href="#").resultados__boton LEER MÁS        
      
        article.resultados__item          
          .resultados__texto
            h2.resultados__titulo
              a(href="#") TÍTULO DEL RESULTADO
            p.resultados__descripcion Breve texto correspondiente al resultado encontrado
          .resultados__accion
            a(href="#").resultados__boton LEER MÁS        

      .resultados__paginacion.d-flex.justify-content-center.my-3
        nav(aria-label='Paginacion')
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Prev')
                span(aria-hidden='true') «
                span.sr-only Prev
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next
      
  // Afiliados
  include partials/home/_afiliados
