extends partials/layout

block content

  .resultados
    .container.py-5
      h1.cms-titulo.cms-titulo--empresas RUBRO BUSCADO en UBICACIÓN
      //- Products List
      .row.products
        .col-md-6.col-lg-4.col-xl-3
          .products__item
            img.products__img(src='images/products/foto1.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo1.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .products__body          
              h4.products__title Card title
              p.products__text
                | Ciudad, País
            .products__footer
              small.text-muted Last updated 3 mins ago
        .col-md-6.col-lg-4.col-xl-3
          .products__item
            img.products__img(src='images/products/foto2.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo2.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .products__body          
              h4.products__title Card title
              p.products__text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .products__footer
              small.text-muted Last updated 3 mins ago
        .col-md-6.col-lg-4.col-xl-3
          .products__item
            img.products__img(src='images/products/foto3.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo3.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .products__body          
              h4.products__title Card title
              p.products__text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .products__footer
              small.text-muted Last updated 3 mins ago
        .col-md-6.col-lg-4.col-xl-3
          .products__item
            img.products__img(src='images/products/foto4.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo4.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .products__body          
              h4.products__title Card title
              p.products__text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .products__footer
              small.text-muted Last updated 3 mins ago
