extends partials/layout

block content

  section.resultados
    .container.pb-5
      h1.cms-titulo.cms-titulo--empresas RUBRO BUSCADO en UBICACIÓN
      //- Products List
      .row.products
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto1.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo1.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto2.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo2.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto3.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo3.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto4.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo4.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto5.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo5.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto6.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo6.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto7.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo7.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        .col-md-6.col-lg-4.col-xl-3
          .card.products__item
            img.card-img-top(src='images/products/foto8.jpg', alt='Card image cap')
            .img-logo.text-center
              img(src="images/products/logo8.jpg", alt="", class="rounded-circle img-thumbnail products__logo")
            .card-body
              h4.card-title.products__title Nombre Empresa
              p.card-text.products__text
                | Ciudad, País
            .card-footer.products__footer
              small
                a(href="#") Visitar Sitio
        