.resultados {
  &__cantidad {
    color: darken($gris-empresas, 25%);
    font-family: $montserrat-font;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    flex-basis: 100%;
    order: -1;
  }
  &__listado {

  }
  &__item {
		border: 1px solid #eaeded;
    display: flex;
    flex-direction: column;
    align-items: center;
		margin-bottom: 0.5rem;		
    @include media(sm) {
			flex-direction: row;						
		}
		div.resultados__texto {			
			&:nth-child(odd) {
				background-color: #f9f9f9;
			}
			&:nth-child(even) {
				background-color: #f3f3f3;
			}
		}
  }
  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $montserrat-font;
    padding: 1.5rem 1rem;
    @include media(sm) {
      width: 70%;
		}
		@include media(md) {
			width: 80%;
		}
    a {
      color: $azul-camersur;
      text-decoration: none;
      transition: all 0.5s ease;
      &:hover {
        color: darken($azul-camersur, 15%);
      }
    }
	}
	&__accion {
		padding: 1rem 1.5rem;
		text-align: center;
	}
	&__boton {
		font-family: $montserrat-font;
		font-size: em(13);
		color: #fff;
		background-color: #008ec9;
		display: block;
		padding: 1rem 3rem;
		transition: all 0.5s ease;	
		&:hover {
			background-color: $verde-eventos;
			color: #fff;
			text-decoration: none;
		}	
		&::after {
			content: "\f0da";
			font-family: FontAwesome;
		}		
		@include media(sm) {
			padding: 1rem 2rem;
		}
		@include media(md) {
			padding: 1rem 1.5rem;
		}
		@include media(lg) {
			padding: 1rem 3rem;
		}
	}
  &__titulo {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__descripcion {
		color: darken($gris-empresas, 45%);
		line-height: 1.3;
  }
  .cmsuniversidad-boton.cmsuniversidad-boton--boton1 {
    margin-top: 0;
  }
}